In [9]:
import pandas as pd
data=pd.read_csv("testingdata.csv")
data.to_string()

'     Duration  Pulse  Maxpulse  Calories\n0          60    110       130     409.1\n1          60    117       145     479.0\n2          60    103       135     340.0\n3          45    109       175     282.4\n4          45    117       148     406.0\n5          60    102       127     300.0\n6          60    110       136     374.0\n7          45    104       134     253.3\n8          30    109       133     195.1\n9          60     98       124     269.0\n10         60    103       147     329.3\n11         60    100       120     250.7\n12         60    106       128     345.3\n13         60    104       132     379.3\n14         60     98       123     275.0\n15         60     98       120     215.2\n16         60    100       120     300.0\n17         45     90       112       NaN\n18         60    103       123     323.0\n19         45     97       125     243.0\n20         60    108       131     364.2\n21         45    100       119     282.0\n22         60    130       101     300.0\n23         45    105       132     246.0\n24         60    102       126     334.5\n25         60    100       120     250.0\n26         60     92       118     241.0\n27         60    103       132       NaN\n28         60    100       132     280.0\n29         60    102       129     380.3\n30         60     92       115     243.0\n31         45     90       112     180.1\n32         60    101       124     299.0\n33         60     93       113     223.0\n34         60    107       136     361.0\n35         60    114       140     415.0\n36         60    102       127     300.0\n37         60    100       120     300.0\n38         60    100       120     300.0\n39         45    104       129     266.0\n40         45     90       112     180.1\n41         60     98       126     286.0\n42         60    100       122     329.4\n43         60    111       138     400.0\n44         60    111       131     397.0\n45         60     99       119     273.0\n46         60    109       153     387.6\n47         45    111       136     300.0\n48         45    108       129     298.0\n49         60    111       139     397.6\n50         60    107       136     380.2\n51         80    123       146     643.1\n52         60    106       130     263.0\n53         60    118       151     486.0\n54         30    136       175     238.0\n55         60    121       146     450.7\n56         60    118       121     413.0\n57         45    115       144     305.0\n58         20    153       172     226.4\n59         45    123       152     321.0\n60        210    108       160    1376.0\n61        160    110       137    1034.4\n62        160    109       135     853.0\n63         45    118       141     341.0\n64         20    110       130     131.4\n65        180     90       130     800.4\n66        150    105       135     873.4\n67        150    107       130     816.0\n68         20    106       136     110.4\n69        300    108       143    1500.2\n70        150     97       129    1115.0\n71         60    109       153     387.6\n72         90    100       127     700.0\n73        150     97       127     953.2\n74         45    114       146     304.0\n75         90     98       125     563.2\n76         45    105       134     251.0\n77         45    110       141     300.0\n78        120    100       130     500.4\n79        270    100       131    1729.0\n80         30    159       182     319.2\n81         45    149       169     344.0\n82         30    103       139     151.1\n83        120    100       130     500.0\n84         45    100       120     225.3\n85         30    151       170     300.0\n86         45    102       136     234.0\n87        120    100       157    1000.1\n88         45    129       103     242.0\n89         20     83       107      50.3\n90        180    101       127     600.1\n91         45    107       137       NaN\n92         30     90       107     105.3\n93         15     80       100      50.5\n94         20    150       171     127.4\n95         20    151       168     229.4\n96         30     95       128     128.2\n97         25    152       168     244.2\n98         30    109       131     188.2\n99         90     93       124     604.1\n100        20     95       112      77.7\n101        90     90       110     500.0\n102        90     90       100     500.0\n103        90     90       100     500.4\n104        30     92       108      92.7\n105        30     93       128     124.0\n106       180     90       120     800.3\n107        30     90       120      86.2\n108        90     90       120     500.3\n109       210    137       184    1860.4\n110        60    102       124     325.2\n111        45    107       124     275.0\n112        15    124       139     124.2\n113        45    100       120     225.3\n114        60    108       131     367.6\n115        60    108       151     351.7\n116        60    116       141     443.0\n117        60     97       122     277.4\n118        60    105       125       NaN\n119        60    103       124     332.7\n120        30    112       137     193.9\n121        45    100       120     100.7\n122        60    119       169     336.7\n123        60    107       127     344.9\n124        60    111       151     368.5\n125        60     98       122     271.0\n126        60     97       124     275.3\n127        60    109       127     382.0\n128        90     99       125     466.4\n129        60    114       151     384.0\n130        60    104       134     342.5\n131        60    107       138     357.5\n132        60    103       133     335.0\n133        60    106       132     327.5\n134        60    103       136     339.0\n135        20    136       156     189.0\n136        45    117       143     317.7\n137        45    115       137     318.0\n138        45    113       138     308.0\n139        20    141       162     222.4\n140        60    108       135     390.0\n141        60     97       127       NaN\n142        45    100       120     250.4\n143        45    122       149     335.4\n144        60    136       170     470.2\n145        45    106       126     270.8\n146        60    107       136     400.0\n147        60    112       146     361.9\n148        30    103       127     185.0\n149        60    110       150     409.4\n150        60    106       134     343.0\n151        60    109       129     353.2\n152        60    109       138     374.0\n153        30    150       167     275.8\n154        60    105       128     328.0\n155        60    111       151     368.5\n156        60     97       131     270.4\n157        60    100       120     270.4\n158        60    114       150     382.8\n159        30     80       120     240.9\n160        30     85       120     250.4\n161        45     90       130     260.4\n162        45     95       130     270.0\n163        45    100       140     280.9\n164        60    105       140     290.8\n165        60    110       145     300.0\n166        60    115       145     310.2\n167        75    120       150     320.4\n168        75    125       150     330.4'

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [17]:
data.isnull().count()

Duration    169
Pulse       169
Maxpulse    169
Calories    169
dtype: int64

In [21]:
data.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [23]:
data.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [25]:
data.mean()

Duration     63.846154
Pulse       107.461538
Maxpulse    134.047337
Calories    375.790244
dtype: float64

In [27]:
data.mode()

   Duration  Pulse  Maxpulse  Calories
0        60    100       120     300.0

In [31]:
data.median()

Duration     60.0
Pulse       105.0
Maxpulse    131.0
Calories    318.6
dtype: float64

In [37]:
newdata=data.dropna()
newdata.to_string()

'     Duration  Pulse  Maxpulse  Calories\n0          60    110       130     409.1\n1          60    117       145     479.0\n2          60    103       135     340.0\n3          45    109       175     282.4\n4          45    117       148     406.0\n5          60    102       127     300.0\n6          60    110       136     374.0\n7          45    104       134     253.3\n8          30    109       133     195.1\n9          60     98       124     269.0\n10         60    103       147     329.3\n11         60    100       120     250.7\n12         60    106       128     345.3\n13         60    104       132     379.3\n14         60     98       123     275.0\n15         60     98       120     215.2\n16         60    100       120     300.0\n18         60    103       123     323.0\n19         45     97       125     243.0\n20         60    108       131     364.2\n21         45    100       119     282.0\n22         60    130       101     300.0\n23         45    105       132     246.0\n24         60    102       126     334.5\n25         60    100       120     250.0\n26         60     92       118     241.0\n28         60    100       132     280.0\n29         60    102       129     380.3\n30         60     92       115     243.0\n31         45     90       112     180.1\n32         60    101       124     299.0\n33         60     93       113     223.0\n34         60    107       136     361.0\n35         60    114       140     415.0\n36         60    102       127     300.0\n37         60    100       120     300.0\n38         60    100       120     300.0\n39         45    104       129     266.0\n40         45     90       112     180.1\n41         60     98       126     286.0\n42         60    100       122     329.4\n43         60    111       138     400.0\n44         60    111       131     397.0\n45         60     99       119     273.0\n46         60    109       153     387.6\n47         45    111       136     300.0\n48         45    108       129     298.0\n49         60    111       139     397.6\n50         60    107       136     380.2\n51         80    123       146     643.1\n52         60    106       130     263.0\n53         60    118       151     486.0\n54         30    136       175     238.0\n55         60    121       146     450.7\n56         60    118       121     413.0\n57         45    115       144     305.0\n58         20    153       172     226.4\n59         45    123       152     321.0\n60        210    108       160    1376.0\n61        160    110       137    1034.4\n62        160    109       135     853.0\n63         45    118       141     341.0\n64         20    110       130     131.4\n65        180     90       130     800.4\n66        150    105       135     873.4\n67        150    107       130     816.0\n68         20    106       136     110.4\n69        300    108       143    1500.2\n70        150     97       129    1115.0\n71         60    109       153     387.6\n72         90    100       127     700.0\n73        150     97       127     953.2\n74         45    114       146     304.0\n75         90     98       125     563.2\n76         45    105       134     251.0\n77         45    110       141     300.0\n78        120    100       130     500.4\n79        270    100       131    1729.0\n80         30    159       182     319.2\n81         45    149       169     344.0\n82         30    103       139     151.1\n83        120    100       130     500.0\n84         45    100       120     225.3\n85         30    151       170     300.0\n86         45    102       136     234.0\n87        120    100       157    1000.1\n88         45    129       103     242.0\n89         20     83       107      50.3\n90        180    101       127     600.1\n92         30     90       107     105.3\n93         15     80       100      50.5\n94         20    150       171     127.4\n95         20    151       168     229.4\n96         30     95       128     128.2\n97         25    152       168     244.2\n98         30    109       131     188.2\n99         90     93       124     604.1\n100        20     95       112      77.7\n101        90     90       110     500.0\n102        90     90       100     500.0\n103        90     90       100     500.4\n104        30     92       108      92.7\n105        30     93       128     124.0\n106       180     90       120     800.3\n107        30     90       120      86.2\n108        90     90       120     500.3\n109       210    137       184    1860.4\n110        60    102       124     325.2\n111        45    107       124     275.0\n112        15    124       139     124.2\n113        45    100       120     225.3\n114        60    108       131     367.6\n115        60    108       151     351.7\n116        60    116       141     443.0\n117        60     97       122     277.4\n119        60    103       124     332.7\n120        30    112       137     193.9\n121        45    100       120     100.7\n122        60    119       169     336.7\n123        60    107       127     344.9\n124        60    111       151     368.5\n125        60     98       122     271.0\n126        60     97       124     275.3\n127        60    109       127     382.0\n128        90     99       125     466.4\n129        60    114       151     384.0\n130        60    104       134     342.5\n131        60    107       138     357.5\n132        60    103       133     335.0\n133        60    106       132     327.5\n134        60    103       136     339.0\n135        20    136       156     189.0\n136        45    117       143     317.7\n137        45    115       137     318.0\n138        45    113       138     308.0\n139        20    141       162     222.4\n140        60    108       135     390.0\n142        45    100       120     250.4\n143        45    122       149     335.4\n144        60    136       170     470.2\n145        45    106       126     270.8\n146        60    107       136     400.0\n147        60    112       146     361.9\n148        30    103       127     185.0\n149        60    110       150     409.4\n150        60    106       134     343.0\n151        60    109       129     353.2\n152        60    109       138     374.0\n153        30    150       167     275.8\n154        60    105       128     328.0\n155        60    111       151     368.5\n156        60     97       131     270.4\n157        60    100       120     270.4\n158        60    114       150     382.8\n159        30     80       120     240.9\n160        30     85       120     250.4\n161        45     90       130     260.4\n162        45     95       130     270.0\n163        45    100       140     280.9\n164        60    105       140     290.8\n165        60    110       145     300.0\n166        60    115       145     310.2\n167        75    120       150     320.4\n168        75    125       150     330.4'

In [39]:
data.dropna(inplace=True)
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [41]:
data.fillna(100,inplace=True)
data.to_string()

'     Duration  Pulse  Maxpulse  Calories\n0          60    110       130     409.1\n1          60    117       145     479.0\n2          60    103       135     340.0\n3          45    109       175     282.4\n4          45    117       148     406.0\n5          60    102       127     300.0\n6          60    110       136     374.0\n7          45    104       134     253.3\n8          30    109       133     195.1\n9          60     98       124     269.0\n10         60    103       147     329.3\n11         60    100       120     250.7\n12         60    106       128     345.3\n13         60    104       132     379.3\n14         60     98       123     275.0\n15         60     98       120     215.2\n16         60    100       120     300.0\n18         60    103       123     323.0\n19         45     97       125     243.0\n20         60    108       131     364.2\n21         45    100       119     282.0\n22         60    130       101     300.0\n23         45    105       132     246.0\n24         60    102       126     334.5\n25         60    100       120     250.0\n26         60     92       118     241.0\n28         60    100       132     280.0\n29         60    102       129     380.3\n30         60     92       115     243.0\n31         45     90       112     180.1\n32         60    101       124     299.0\n33         60     93       113     223.0\n34         60    107       136     361.0\n35         60    114       140     415.0\n36         60    102       127     300.0\n37         60    100       120     300.0\n38         60    100       120     300.0\n39         45    104       129     266.0\n40         45     90       112     180.1\n41         60     98       126     286.0\n42         60    100       122     329.4\n43         60    111       138     400.0\n44         60    111       131     397.0\n45         60     99       119     273.0\n46         60    109       153     387.6\n47         45    111       136     300.0\n48         45    108       129     298.0\n49         60    111       139     397.6\n50         60    107       136     380.2\n51         80    123       146     643.1\n52         60    106       130     263.0\n53         60    118       151     486.0\n54         30    136       175     238.0\n55         60    121       146     450.7\n56         60    118       121     413.0\n57         45    115       144     305.0\n58         20    153       172     226.4\n59         45    123       152     321.0\n60        210    108       160    1376.0\n61        160    110       137    1034.4\n62        160    109       135     853.0\n63         45    118       141     341.0\n64         20    110       130     131.4\n65        180     90       130     800.4\n66        150    105       135     873.4\n67        150    107       130     816.0\n68         20    106       136     110.4\n69        300    108       143    1500.2\n70        150     97       129    1115.0\n71         60    109       153     387.6\n72         90    100       127     700.0\n73        150     97       127     953.2\n74         45    114       146     304.0\n75         90     98       125     563.2\n76         45    105       134     251.0\n77         45    110       141     300.0\n78        120    100       130     500.4\n79        270    100       131    1729.0\n80         30    159       182     319.2\n81         45    149       169     344.0\n82         30    103       139     151.1\n83        120    100       130     500.0\n84         45    100       120     225.3\n85         30    151       170     300.0\n86         45    102       136     234.0\n87        120    100       157    1000.1\n88         45    129       103     242.0\n89         20     83       107      50.3\n90        180    101       127     600.1\n92         30     90       107     105.3\n93         15     80       100      50.5\n94         20    150       171     127.4\n95         20    151       168     229.4\n96         30     95       128     128.2\n97         25    152       168     244.2\n98         30    109       131     188.2\n99         90     93       124     604.1\n100        20     95       112      77.7\n101        90     90       110     500.0\n102        90     90       100     500.0\n103        90     90       100     500.4\n104        30     92       108      92.7\n105        30     93       128     124.0\n106       180     90       120     800.3\n107        30     90       120      86.2\n108        90     90       120     500.3\n109       210    137       184    1860.4\n110        60    102       124     325.2\n111        45    107       124     275.0\n112        15    124       139     124.2\n113        45    100       120     225.3\n114        60    108       131     367.6\n115        60    108       151     351.7\n116        60    116       141     443.0\n117        60     97       122     277.4\n119        60    103       124     332.7\n120        30    112       137     193.9\n121        45    100       120     100.7\n122        60    119       169     336.7\n123        60    107       127     344.9\n124        60    111       151     368.5\n125        60     98       122     271.0\n126        60     97       124     275.3\n127        60    109       127     382.0\n128        90     99       125     466.4\n129        60    114       151     384.0\n130        60    104       134     342.5\n131        60    107       138     357.5\n132        60    103       133     335.0\n133        60    106       132     327.5\n134        60    103       136     339.0\n135        20    136       156     189.0\n136        45    117       143     317.7\n137        45    115       137     318.0\n138        45    113       138     308.0\n139        20    141       162     222.4\n140        60    108       135     390.0\n142        45    100       120     250.4\n143        45    122       149     335.4\n144        60    136       170     470.2\n145        45    106       126     270.8\n146        60    107       136     400.0\n147        60    112       146     361.9\n148        30    103       127     185.0\n149        60    110       150     409.4\n150        60    106       134     343.0\n151        60    109       129     353.2\n152        60    109       138     374.0\n153        30    150       167     275.8\n154        60    105       128     328.0\n155        60    111       151     368.5\n156        60     97       131     270.4\n157        60    100       120     270.4\n158        60    114       150     382.8\n159        30     80       120     240.9\n160        30     85       120     250.4\n161        45     90       130     260.4\n162        45     95       130     270.0\n163        45    100       140     280.9\n164        60    105       140     290.8\n165        60    110       145     300.0\n166        60    115       145     310.2\n167        75    120       150     320.4\n168        75    125       150     330.4'

In [49]:
data['Calories'].fillna(100,inplace=True)
data

C:\Users\Admin\AppData\Local\Temp\ipykernel_12960\1069915086.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Calories'].fillna(100,inplace=True)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [63]:
x=data["Pulse"].mean()
data["Pulse"].fillna(x,inplace=True)
data.head(20)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12960\1397340847.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Pulse"].fillna(x,inplace=True)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2

In [75]:
data.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.160661  0.005679  0.922717
Pulse    -0.160661  1.000000  0.784631  0.025121
Maxpulse  0.005679  0.784631  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000

In [79]:
data.duplicated().head(40)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37     True
38     True
39    False
40     True
41    False
dtype: bool

In [83]:
data.drop_duplicates(inplace=True)
data.head(40)

    Duration  Pulse  Maxpulse  Calories
0         60    110       130     409.1
1         60    117       145     479.0
2         60    103       135     340.0
3         45    109       175     282.4
4         45    117       148     406.0
5         60    102       127     300.0
6         60    110       136     374.0
7         45    104       134     253.3
8         30    109       133     195.1
9         60     98       124     269.0
10        60    103       147     329.3
11        60    100       120     250.7
12        60    106       128     345.3
13        60    104       132     379.3
14        60     98       123     275.0
15        60     98       120     215.2
16        60    100       120     300.0
18        60    103       123     323.0
19        45     97       125     243.0
20        60    108       131     364.2
21        45    100       119     282.0
22        60    130       101     300.0
23        45    105       132     246.0
24        60    102       126     334.5
25        60    100       120     250.0
26        60     92       118     241.0
28        60    100       132     280.0
29        60    102       129     380.3
30        60     92       115     243.0
31        45     90       112     180.1
32        60    101       124     299.0
33        60     93       113     223.0
34        60    107       136     361.0
35        60    114       140     415.0
39        45    104       129     266.0
41        60     98       126     286.0
42        60    100       122     329.4
43        60    111       138     400.0
44        60    111       131     397.0
45        60     99       119     273.0